{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Profile - {{ user.username }} {% endblock %}

{% block body %}

<h2>Hello - {{ user.username }}</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ user.username }}</th>
      <td>{{ user.email }}</td>
      <td><img src="{{ user.profile.picture.url }}" width="100" height="100"></td>
    </tr>
  </tbody>
</table>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Profile info</p>
    {{ user_form|crispy}}
    {{ profile_form|crispy}}
    <button class="btn btn-outline-info" type="submit">Apply changes</button>
  </form>
{% endblock %}