{% extends 'base.html' %}

{% block title %} Log in {% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Car</th>
      <th scope="col">Date</th>
      <th scope="col">Milleage</th>
      <th scope="col">Price</th>
      <th scope="col">Cost per litr</th>
      <th scope="col">Full fuel tank</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {% for refuel in refuelings %}
        <tr>
            <th scope="row">{{ refuel.car }}</th>
            <td>{{ refuel.date_refueling }}</td>
            <td>{{ refuel.mileage }}</td>
            <td>{{ refuel.price }}</td>
            <td>{{ refuel.cost_per_litr }}</td>
            <td>{{ refuel.tanked_to_max_level }}</td>
            <td><a href="{% url 'refueling-update' refuel.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'refueling-delete' refuel.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}