{% extends 'base.html' %}

{% block title %} Car Home {% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">

                {% for car in cars %}
                    <p>
                        <div class="card p-2">

                            <div class="card-body shadow">
                                <h5 class="card-title lead text-center fw-bold"> <i class="fa-solid fa-car fa-1x"></i> {{ car.name }}</h5>
                                <p class="card-text"><b>Description:</b> {{car.description}}</p>
                                <p class="card-text"><b>Fuel:</b> {{car.type_of_fuel}}</p>
                                <p class="card-text"><b>Company:</b> {{car.detail.company}}</p>
                                <p class="card-text"><b>Model:</b> {{car.detail.car_model_name}}</p>
                                <p class="card-text"><b>Production year:</b> {{car.detail.production_year}}</p>
                                <p class="card-text"><b>VIN:</b> {{car.detail.vin}}</p>
                                <a href="{% url 'edit-car' car.id %}" class="btn btn-primary m-1 shadow-lg">Edit Car</a>
                                <a href="{% url 'car-delete' car.id %}" class="btn btn-danger m-1 shadow-lg">Delete Car</a>
                                <a href="{% url 'refueling-by-car' car.id %}" class="btn btn-info m-1 shadow-lg">Refuelings</a>
                                <a href="{% url 'new-refueling' car.id %}" class="btn btn-info m-1 shadow-lg">Add New Refueling</a>
                            </div>
                        </div>
                    </p>
                {% endfor %}
            </div>
            <div class="col"></div>
        </div>
    </div>


{% endblock %}
